{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Add a new thing todo</h1>

    <article>

        <h3>Add a New Item</h3>

        <form method="POST" action="/add-thing">
            <label>Item
            <input
                type="text"
                name="item"
                placeholder="Name of new thing"
                required
            >
            </label>
            <label>Priority
            <input
                type="number"
                name="priority"
                min="1"
                placeholder="How important is this thing?"
                required
            >
            </label>
            <label>Description
            <input
                type="text"
                name="description"
                placeholder="What is this thing about?"
                >
            </label>

            <button>Add the Thing</button>

        </form>

    </article>

{% endblock %}

