{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo

{% endblock %}

{% block content %}

    <h1>ToDo list</h1>

    <section id="todo-list">

        {%for todo in todo%}
            <article class="todo-item">
            <p><strong>{{ todo.priority }}</strong></p>
                <h3><a href="/item/{{ todo.id }}" type="button">{{ todo.thing_to_do }}</a></h3>
            </article>
        {% endfor %}

    </section>

{% endblock %}