{% extends 'pages/base.jinja' %}


{% block content %}

    <h1>ToDo list</h1>

    <section id="todo-list">

        {%for todo in todo%}
            <article class="todo-items">
            <p id="priority"><strong>{{ todo.priority }}</strong></p>
                <h3 id="name">{{ todo.thing_to_do }}</h3>
                <a href="/item/{{ todo.id }}" type="button" id="buttttonnnn">Details</a>
            </article>
        {% endfor %}

    </section>

{% endblock %}