{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Flask Demo App with Turso DB</h1>

    <article>
        <h2>Things List</h2>
        <ul>
            {% for thing in things %}
                <li>
                    <a href="/things/{{ thing.id }}">{{ thing.name }}</a>
                    <span class="description">{{ thing.description }}</span>
                </li>
            {% else %}
                <li>No things found.</li>
            {% endfor %}
        </ul>
    </article>

    <a href="/things" role="button">Go to the Things...</a>

{% endblock %}

