{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}




{% block content %}

    <h1>A Single Thing...</h1>


    <article>

        <header>
            <h3>{{ todo.thing_to_do }}</h3>
        </header>

        <p>Priority: <strong>{{ todo.priority }}</strong></p>

        <footer>
            <a href="/delete/{{ todo.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/todo">Back to Thing List</a>

{% endblock %}

